/*--------------------------------------- FORMATAÇÕES GERAIS ---------------------------------------*/

body {
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
    margin: 0px;
    background: #e6e6e6;
}

a {
    text-decoration: none;
}

/*---------------------------------------------- MENU ----------------------------------------------*/

#area-menu {
    color: white;
    background: #8B0000;
    padding: 15px;
    text-align: center;
}

#area-menu a {
    color: white;
    text-decoration: none;
}

/*-------------- ÁREA LOGO --------------*/

#area-logo {
    padding: 10px;
}

#area-logo #logo {
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: -3px -3px rgb(0, 0, 0);
}

#logo .games {
    color: rgb(204, 83, 83);
}

#area-logo #logo:hover {
    text-shadow: 3px 3px rgb(0, 0, 0);
}

/*----------- ÁREA NAVEGAÇÃO -----------*/

#area-menu #area-links {
    padding: 10px;
}

#area-menu #area-links a {
    padding: 2px 8px;
}

#area-menu #area-links a:hover {
    color: #8B0000;
    background: white;
    border-radius: 5px;
}

/*------------- SUBHEADER --------------*/

#subheader {
    color: white;
    background: #B22222;
    text-align: center;
    line-height: 40px;
    height: 40px;
}

/*---------------------------------------------- HOME ----------------------------------------------*/

#desenvolvendo {
    color: #8B0000;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    line-height: 591px;
}

/*---------------------------------------------- CONTATO ----------------------------------------------*/

#pg-contato {
    margin: 20px;
}

#contato h2,#contato h3 {
    color: #8B0000;
    margin: 0px;
}

#header-contato {
    margin: 0px 0px 20px 0px;
}

.div-contato {
    background: white;
    width: 570px;
    float: left;
    margin: 0px 20px 20px 0px;
    padding: 20px;
    border: 1px solid #8B0000;
    border-radius: 10px;
}

#div-chat #botao-atendimento {
    color: white;
    background: #B22222;
    padding: 4px 7px;
    border: 1px solid white;
    border-radius: 7px;
    font-weight: bolder;
}

#div-chat #botao-atendimento:hover {
    color: #B22222;
    background: white;
    border-color: #B22222;
}

#div-sac a {
    color: #8B0000;
    font-weight: bold;
}

#div-faleconosco, #div-atendimento {
    width: 1200px;
}

#div-faleconosco p {
    margin: 0px;
}

#div-atendimento {

}

#div-atendimento label {
    color: #8B0000;
    font-weight: bold;
}

#div-atendimento #input-mensagem {
    height: 150px;
}

#div-atendimento .input-form {
    width: 490px;
    margin-bottom: 20px;
}

#div-atendimento button {
    width: 245px;
    color: white;
    background: #B22222;
    padding: 4px 7px;
    border: 1px solid white;
    border-radius: 7px;
    font-weight: bold;
}

#div-atendimento button:hover {
    color: #B22222;
    background: white;
    border-color: #B22222;
}

#div-atendimento h3 {
    margin-bottom: 20px;
}

#contato p {
    margin: 0px;
    margin-bottom: 10px;
}
/*--------------------------------------------- RODAPÉ ---------------------------------------------*/

#area-rodape {
    color: white;
    background: #B22222;
    font-size: 0.9em;
    clear: both;
}

/*-------------- RODAPÉ 1 --------------*/

#rodape1 {
    background: #B22222;
}

.coluna-rodape1 {
    width: 190px;
    padding: 20px;
    float: left;
    margin-right: 30px;
}

.coluna-rodape1 h3 {
    margin: 0px 0px 10px 0px;
}

#coluna1-rodape {
    margin-left: 25%;
    width: 80px;
}

.coluna-rodape1 #area-links a {
    color: #fff;
    text-decoration: none;
}

.coluna-rodape1 #area-links a:hover {
    color: rgb(248, 194, 190);
}

#rodape1-voltar {
    width: 50px;
}

#botao-voltar {
    border: 3px solid white;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    top: 70px;
    left: 300px;
}

#botao-voltar img {
    width: 50px;
    position: relative;
    bottom: 3px;
}

/*-------------- RODAPÉ 2 --------------*/

#rodape2 {
    background: #8B0000;
    padding: 12px;
    text-align: center;
    clear: both;
}

#desenvolvedores {
    padding: 5px 0px 10px 0px;
}

.icon-email {
    width: 18px;
    position: relative;
    top: 4px;
    left: 1px;
}

.icon-in {
    width: 16px;
    position: relative;
    top: 2px;
    left: 1px;
}

#rodape2 a {
    color: white;
    text-decoration: none;
}

#rodape2 a:hover {
    text-decoration: underline;
}

/*--------------------------------------------- CORES ---------------------------------------------*/