/*--------------------------------------- FORMATAÇÕES GERAIS ---------------------------------------*/

body {
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
  margin: 0%;
  background: #e6e6e6;
}

a {
  text-decoration: none;
}

.center {
  text-align: center;
}

#desenvolvendo {
  line-height: 100vh;
  text-align: center;
  color: #8b0000;
  font-weight: bold;
  font-size: 1.5em;
}

/*---------------------------------------------- MENU ----------------------------------------------*/

#area-menu {
  color: white;
  background: #8b0000;
  padding: 15px;
  text-align: center;
}

#area-menu a {
  color: white;
  text-decoration: none;
}

/*-------------- ÁREA LOGO --------------*/

#area-logo {
  padding: 10px;
}

#area-logo #logo {
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 3px 3px rgb(0, 0, 0);
}

#logo .games {
  color: rgb(204, 83, 83);
}

#area-logo #logo:hover {
  text-shadow: -3px -3px rgb(0, 0, 0);
}

/*----------- ÁREA NAVEGAÇÃO -----------*/

#area-menu #area-links {
  padding: 10px;
}

#area-menu #area-links a {
  padding: 2px 8px;
}

#area-menu #area-links a:hover {
  color: #8b0000;
  background: white;
  border-radius: 5px;
}

/*------------- SUBHEADER --------------*/

#subheader {
  color: white;
  background: #b22222;
  text-align: center;
  line-height: 40px;
  height: 40px;
}

/*---------------------------------------------- HOME ----------------------------------------------*/

#pg-home {
  margin-left: 10%;
  margin-top: 30px;
  width: 80%;
}

#pg-home h1,
#pg-home h2 {
  color: #8b0000;
}

#pg-home p {
  font-size: 1.15em;
}

#RPG, #Indie, #FPS, #Action {
  display: inline-block;
  margin: 2%;
}

#pg-home h2 {
  text-align: center;
}




#pg-novidades {
  margin-top: 30px;
  margin-left: 10%;
  width: 80%;
}

#pg-novidades h1,
#pg-novidades h2 {
  color: #8b0000;
}

#pg-novidades p {
  font-size: 1.15em;
}

.titulo-principal {
  text-align: center;
}

#texto-principal {
  margin-bottom: 65px;
  font-size: 2em;
}

.div-novidade {
  clear: both;
  border-bottom: 1px solid #8b0000;
}

.vazio-titulo {
  float: left;
  width: 560px;
  height: 1px;
  margin-right: 1%;
}

.titulo-novidade {
  float: left;
  width: 900px;
  text-align: center;
  margin-top: 45px;
}

.titulo-novidade2 {
  float: left;
  width: 900px;
  text-align: center;
  margin-top: 45px;
  margin-left: 3%;
}

.video {
  float: left;
  margin-bottom: 65px;
  clear: both;
}

.video2 {
  float: right;
  margin-bottom: 65px;
  clear: both;
}

.novidade {
  float: left;
  width: 900px;
  margin: 1%;
  text-align: justify;
}

.novidade2 {
  float: right;
  width: 900px;
  margin: 1%;
  text-align: justify;
}

/*--------------------------------------------- SOBRE -----------------------------------------------*/

#pg-sobre {
  font-size: 1.5em;
}

#pg-sobre #div-conteudo1, 
#pg-sobre #div-conteudo3 {
  background: #e6e6e6;
  height: 100vh;
}

#pg-sobre #div-conteudo2 {
  background: #b22222;
  height: 100vh;
}

#conteudo-sobre, #comunidade {
  position: relative;
  top: 30%;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  animation: fadeInUp;
  animation-duration: 3s;
}

#conteudo-sobre h2 {
  color: #8b0000;
  margin: 0px;
  font-size: 2.3em;
  font-variant: small-caps;
}

#conteudo-sobre p {
  margin: 5px 0px 5px 0px;
}

#conteudo-sobre #creditos-sobre {
  color: #8b0000;
  font-weight: bold;
}

.conheca-mais {
  position: relative;
  top: 180px;
  color: #8b0000;
  font-size: 0.8em;
  width: 200px;
  margin: 0 auto;
}

.conheca-mais img {
  margin-top: 10px;
  width: 20px;
}

/*-------------------------------------------- ESPORTS ----------------------------------------------*/

#noticias-esports {
  margin-top: 2%;
  margin-left: 15%;
  width: 70%;
  margin-bottom: 2%;
}

#noticias-esports .noticia img {
  width: 100%;
  border-radius: 15px;
}

#noticias-esports .noticia h3 {
  margin: 10px 0px 5px 0px;
  color: #8b0000;
  font-size: 1.8em;
}

.box-noticia {
  display: inline-block;
  width: 49%;
}

#esports-coluna1 {
  margin: 0% 0% 2% 0%;
}

.noticia {
  background: #fff;
  padding: 2%;
  border: 1px solid #8b0000;
  border-radius: 15px;
}

.direita {
  float: right;
}

.data-noticia {
  color: black;
}

/*-------------- TABELAS CAMPEONATOS --------------*/

#tabelas-campeonatos {
  width: 70%;
  margin-left: 15%;
  padding-top: 2%;
  margin-bottom: 2%;
  border-top: 2px solid #8b0000;
}

#tabelas-campeonatos h2 {
  color: #8b0000;
  text-align: center;
  font-size: 1.9em;
  margin: 0px;
  margin-bottom: 15px;
}

.tabela-campeonatos {
  background: white;
  border: 1px solid #8b0000;
  border-radius: 15px;
  padding: 1%;
  width: 30%;
  display: inline-block;
  margin-right: 1.4%;
}

.ultima-tabela {
  margin-right: 0%;
}

.tabela-campeonatos table {
  width: 100%;
  border-collapse: collapse;
}

.tabela-campeonatos th {
  line-height: 40px;
  padding: 0px 10px 0px 10px;
}

.tabela-campeonatos .titulo-tabela{
  background: #b84444;
  color: white;
  border-radius: 10px;
}

.titulo-tabela h3 {
  margin: 2px;
}

.tabela-campeonatos td {
  border-bottom: 1px solid #8b0000;
}

.colocacao {
  border-radius: 10px;
  width: 10%;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
}

.equipe {
  padding-left: 0%;
}

.premiacao {
  text-align: center;
}

/*-------------------------------------------- CONTATO ----------------------------------------------*/

#pg-contato {
  margin-top: 30px;
  margin-left: 11%;
}

#pg-contato h2,
#pg-contato h3 {
  color: #8b0000;
  margin: 0%;
}

#pg-contato #header-contato {
  margin: 0% 0% 1% 0%;
}

.div-contato {
  background: white;
  width: 40%;
  float: left;
  margin: 0% 1% 1% 0%;
  padding: 1.5%;
  border: 1px solid #8b0000;
  border-radius: 10px;
}

#div-chat #botao-atendimento {
  color: white;
  background: #b22222;
  padding: 4px 7px;
  border: 1px solid white;
  border-radius: 7px;
  font-weight: bolder;
}

#div-chat #botao-atendimento:hover {
  color: #b22222;
  background: white;
  border-color: #b22222;
}

#icone-chat {
  float: left;
  margin-right: 4px;
  width: 20px;
  position: relative;
  top: 2px;
}

#icone-sac {
  float: left;
  margin-right: 4px;
  width: 22px;
}

#icone-faleconosco {
  float: left;
  width: 27px;
  position: relative;
  bottom: 3px;
  right: 2px;
}

#icone-atendimento {
  float: left;
  width: 23px;
  margin-right: 2px;
  position: relative;
  bottom: 1px;
}

#div-sac a {
  color: #8b0000;
  font-weight: bold;
}

#div-faleconosco,
#div-atendimento {
  width: 84%;
}

#div-faleconosco a {
  color: #8b0000;
  font-weight: bold;
}

#div-faleconosco p {
  margin-bottom: 0px;
  clear: both;
}

#div-atendimento label {
  color: #8b0000;
  font-weight: bold;
}

#div-atendimento #input-mensagem {
  height: 150px;
}

#div-atendimento .input-form {
  width: 45%;
  margin-bottom: 20px;
}

#div-atendimento button {
  width: 245px;
  color: white;
  background: #b22222;
  padding: 4px 7px;
  border: 1px solid white;
  border-radius: 7px;
  font-weight: bold;
}

#div-atendimento button:hover {
  color: #b22222;
  background: white;
  border-color: #b22222;
}

#div-atendimento h3 {
  margin-bottom: 20px;
}

#contato p {
  margin: 0px;
  margin-bottom: 10px;
}

/*--------------------------------------------- RODAPÉ ---------------------------------------------*/

#area-rodape {
  color: white;
  background: #b22222;
  font-size: 0.9em;
  clear: both;
}

#area-rodape a {
  color: white;
  text-decoration: none;
}

/*-------------- RODAPÉ 1 --------------*/

#rodape1 {
  background: #b22222;
}

.coluna-rodape1 {
  width: 15%;
  padding: 1.5%;
  float: left;
  margin-right: 3%;
}

.coluna-rodape1 h3 {
  margin: 0px 0px 10px 0px;
}

#coluna1-rodape {
  margin-left: 20%;
}

.coluna-rodape1 #area-links a {
  color: #fff;
  text-decoration: none;
}

.coluna-rodape1 #area-links a:hover {
  color: rgb(248, 194, 190);
}

#rodape1-voltar {
  width: 50px;
}

#botao-voltar {
  border: 3px solid white;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  top: 60px;
  left: 50px;
}

#botao-voltar img {
  width: 50px;
  position: relative;
  bottom: 3px;
}

/*-------------- RODAPÉ 2 --------------*/

#rodape2 {
  background: #8b0000;
  padding: 12px;
  text-align: center;
  clear: both;
}

#desenvolvedores {
  padding: 5px 0px 10px 0px;
}

.icon-email {
  width: 18px;
  position: relative;
  top: 4px;
  left: 1px;
}

.icon-in {
  width: 16px;
  position: relative;
  top: 2px;
  left: 1px;
}

#rodape2 a:hover {
  text-decoration: underline;
}

/*--------------------------------------------- CORES ---------------------------------------------*/

.branco {
  color: #fff;
}